@import "./variables";

@import "../vendors/bootstrap/dist/css/bootstrap.css";

//Partials

@import "./partialas/aside";
@import "./partialas/buttons";
@import "./partialas/header";
@import "./partialas/layout";
@import "./partialas/main";

  // I can remember what was correct:
  $fa-font-path: "font-awesome/fonts";
  $fa-font-path: "~font-awesome/fonts";
  $fa-font-path: "./node_modules/font-awesome/fonts";

  @import '../node_modules/bootstrap/scss/bootstrap.scss';
  @import '../node_modules/font-awesome/scss/font-awesome';
